    <h1>Conversor de Moedas</h1>
    <div class="container">

    <label>Valor em Reais
    <input type="number" id="moeda1" name="val1">
    <select name="moeda de conversao" id="conv">
      <option value="dolar">real para dólar</option>
      <option value="euro">real para euro</option>
      <option value="kwanza">real para kwanza</option>
    </select>
    </label><br>
    <br>

    <br><button type="button" (click)="converter()" class="btncalcular">Calcular</button><br><br>

    <label> Valor do Cambio </label><br><br>
    <input id="resp" readonly><br><br>

  </div>
