    <h1>Conversor de Moedas</h1>
    <h2>Índice de Massa Corporal</h2><br><br>

    <label>Moeda Inicial</label>
    <input type="number" name="moeda1" [(ngModel)]="moeda1" class="input1"><br><br>
    <label>Altura</label>
    <input type="number" name="moeda2" [(ngModel)]="moeda2" class="input2"><br><br>

    <button type="button" (click)="imc()" class="btncalcular">Calcular</button><br><br>

    <label class="resultado">Cambio</label><br><br>

    <div class="results">
    <input [value]= "cam" id="resultado" class="results" readonly><br><br>
    <input [value]= "msg" id="classificação" class="results" readonly>
    </div>
